<% extend('../layouts/master') %>

<section class="orders user-account">
	<div class="container">
		<div class="row">

			<%# Account sidebar %>
			<%- include('layouts/user-account-sidebar') %>
	
			<!-- Account content area start -->
			<div class="col-12 col-md-9 col-lg-10">
				<div class="order-item">
					<div class="row">
						<div class="col-2 order-image">
							<img src="images/products/p1.jpg" alt="">
						</div>
						
					</div>
				</div>
			</div>
			<!-- Account content area end -->

		</div>
	</div>
</section>