/*
    - 1.1. Global
 */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
a {
    color: $text-color-light;
    &:hover{
       color: $link-hover-color !important; 
    }
}
a,
button,
input,
select {
    outline: none!important;
    text-decoration: none!important;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;

    &:hover,
    &:focus,
    &:active{
        outline: none!important;
        text-decoration: none!important;
    }
}

ul {
    padding: 0px;
    margin: 0px;

    li {
        list-style: none;
    }
}



// ---------------- title -------------
.title-bar{
    width: 100%;
    text-align: center;
    line-height: 1;
    position: relative;
    margin: 20px 0 40px 0;

    &:after{
        content: "";
        background: #c4c4c4;
        width: 70px;
        height: 1px;
        position: absolute;
        top: 100%;
        left: calc(50% - 35px);
    }

    &.t-left{
        text-align: left;
        padding-left: 15px;
        margin-bottom: 10px;

        &:after{
            left: 15px !important;
        }
        .title{
            font-size: 16px;
        }

    }

    .subtitle{
        font-size: 13px;
    }
}