// Variables
	
	// Main Colors
	$color-primary		: #5b9496;
	$color-secondary	: #c1621c;

	// Text
	$text-color 		: #212529;
	$text-color-light	: #666666;
	$text-color-xlight 	: #c8c8c8;
	$text-color-white 	: #ffffff;
	$text-color-black 	: #000000;

	// Background
	$bg-color-gray 		: #f6f6f6;
	$bg-color-black 	: #252525;
	

	// Link
	$link-hover-color	: #dc462b;
	

	// Border
	$border-color 		: #e0e0e0;
	$border-color-dark	: #b5b5b5;