/*
    - 2.5. Form
 */
.form-group {
    label {
        font-weight: 600;
        font-size: 13px;
        margin-bottom: 12px;
    }
}

.form-control {
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid #e8e8e8;

    &:hover,
    &:focus,
    &:active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}