/*
	- 2.14. Number input
 */

.number-input{
	.button-control{
		border: 1px #d1d1d1 solid;
		height: 37px;
		line-height: 35px;
		width: 37px;
		margin-left: -1px;
		display: inline-block;
		cursor: pointer;
		position: relative;
		font-size: 12px;
		color: #4c4c4c;
		text-align: center;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		&:before{
			content: "";
			width: 11px;
			height: 1px;
			background: #4d4d4d;
			left: 50%;
			margin-left: -5.5px;
			top: 50%;
			margin-top: -0.5px;
			position: absolute;
		}
	}
}
.quantity-selector .entry.number-plus:after{content: ""; height: 11px; width: 1px; background: #4d4d4d; left: 50%; margin-left: -0.5px; top: 50%; margin-top: -5.5px; position: absolute;}
.quantity-selector .entry.number{cursor: default; width: 44px; padding: 0 5px; width: auto; min-width: 44px;}
.quantity-selector .entry.number-minus:hover, .quantity-selector .entry.number-plus:hover{background: #ca1515;}
.quantity-selector .entry.number-minus{
    margin-left: 0;
}
.quantity-selector .entry:hover:before, .quantity-selector .entry:hover:after{background: #fff!important;}
.quantity-selector .entry.number-minus:active, .quantity-selector .entry.number-plus:active{background: #f71414;}