/*
	- 2.8. Titled slider
 */

.titled-slider {
	position: relative;
	.title {
		border-bottom: 1px solid $border-color;
		h1 {
			font-size: 25px;
			font-weight: bold;
			font-family: 'Yanone Kaffeesatz';
		}
	}
	.owl-slider {
		margin: 20px 0;
		position: unset !important;
		.owl-nav {
			position: absolute;
			top: 0;
			right: 0;
			.owl-prev, .owl-next {
				display: inline-block;
				padding: 0 10px;
			}
			.owl-prev {
				border-right: 1px solid $border-color;
			}
		}
	}
}