/*
	- 2.10 Ultra small product item
 */

.ultra-small-product{
	.image{
		img{
			width: 100px;
			height: auto;
			vertical-align: top;
		}
	}
	.content{
		display: inline-block;
		.tag{
			font-size: 10px;
			line-height: 10px;
			color: $text-color-light;
			font-weight: 500;
			text-transform: uppercase;
			display: inline-block;
		}
		.title{
			font-size: 20px;
			line-height: 20px;
			color: $text-color;
			font-weight: 600;
			display: block;
			margin-bottom: 10px;
		}
		.sub-title,
		.description{
			font-size: 13px;
			line-height: 15px;
			color: $text-color-light;
			font-weight: 400;
			margin-bottom: 5px;
		}
	}
}