<% extend('../layouts/master') %>

<!-- Begin: Content -->
<section id="content" class="animated fadeIn">

    <div class="row mt30">
        <div class="col-md-9">
            <div class="panel br-t bw5 br-grey mn">
                <div class="panel-heading hidden">
                    <span class="panel-icon"><i class="fa fa-pencil"></i>
                    </span>
                    <span class="panel-title"> Title</span>
                </div>

                <div class="panel-body pn">
                    <div class="p25 br-b">
                        <h2 class="fw200 mb20 mt10">Need support? We're here to help!</h2>
                        <div class="input-group input-group-merge input-hero mb30">
                            <span class="input-group-addon"><i class="fa fa-search"></i>
                            </span>
                            <input type="text" id="icon-filter" class="form-control" placeholder="Search FAQ's...">
                        </div>
                    </div>
                    <div class="table-layout bg-light">
                        <div class="col-xs-3 text-center va-m">
                            <span class="fa fa-slideshare fs80 text-warning-light"></span>
                        </div>
                        <div class="col-xs-9 br-l">
                            <h5 class="text-muted pl5 mt20 mb20"> Recent Answers </h5>
                            <ul class="fs15 list-divide-items mb30">
                                <li>
                                    <a class="link-unstyled" href="#" title=""><i class="fa fa-exclamation-circle text-primary fa-lg pr10"></i> How do I recover or change my password?</a>
                                </li>
                                <li>
                                    <a class="link-unstyled" href="#" title=""><i class="fa fa-exclamation-circle text-primary fa-lg pr10"></i> How do I track a subdomain?</a>
                                </li>
                                <li>
                                    <a class="link-unstyled" href="#" title=""><i class="fa fa-exclamation-circle text-primary fa-lg pr10"></i> Can I use my data outside of AdminDesigns?</a>
                                </li>
                                <li>
                                    <a class="link-unstyled" href="#" title=""><i class="fa fa-exclamation-circle text-primary fa-lg pr10"></i> What does it mean when my Data doesn't ...</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="p25 br-t">
                        <h5 class="text-muted mb20 mtn"> Accordion Style Responses </h5>
                        <div class="panel-group accordion accordion-lg" id="accordion1">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accord1">
                                        Will you be providing continuous support and adding new features?
                                        <span class="label hidden label-muted label-sm ph15 mt15 mr5 pull-right">189</span>
                                    </a>
                                </div>
                                <div id="accord1" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accord2">
                                        How did you organize the LESS Structure in this Theme? </a>
                                </div>
                                <div id="accord2" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accord3">
                                        How do I create a media object with a responsive image? </a>
                                </div>
                                <div id="accord3" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-layout br-t bg-light">
                        <div class="col-xs-6">
                            <h5 class="text-muted pl5 mt20 mb20"> Common Questions </h5>
                            <ul class="fs15 list-divide-items mb30">
                                <li>
                                    <a class="link-unstyled" href="#" title=""><i class="fa fa-question-circle text-info fa-lg pr10"></i> How do I recover or change my password?</a>
                                </li>
                                <li>
                                    <a class="link-unstyled" href="#" title=""><i class="fa fa-question-circle text-info fa-lg pr10"></i> How do I track a subdomain?</a>
                                </li>
                                <li>
                                    <a class="link-unstyled" href="#" title=""><i class="fa fa-question-circle text-info fa-lg pr10"></i> Can I use my data outside of AdminDesigns?</a>
                                </li>
                                <li>
                                    <a class="link-unstyled" href="#" title=""><i class="fa fa-question-circle text-info fa-lg pr10"></i> What does it mean when my Data doesn't ...</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6 br-l">
                            <h5 class="text-muted pl5 mt20 mb20"> Recent Answers </h5>
                            <ul class="fs15 list-divide-items mb30">
                                <li>
                                    <a class="link-unstyled" href="#" title=""><i class="fa fa-exclamation-circle text-primary fa-lg pr10"></i> How do I recover or change my password?</a>
                                </li>
                                <li>
                                    <a class="link-unstyled" href="#" title=""><i class="fa fa-exclamation-circle text-primary fa-lg pr10"></i> How do I track a subdomain?</a>
                                </li>
                                <li>
                                    <a class="link-unstyled" href="#" title=""><i class="fa fa-exclamation-circle text-primary fa-lg pr10"></i> Can I use my data outside of AdminDesigns?</a>
                                </li>
                                <li>
                                    <a class="link-unstyled" href="#" title=""><i class="fa fa-exclamation-circle text-primary fa-lg pr10"></i> What does it mean when my Data doesn't ...</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="p25 br-t">
                        <h5 class="text-muted mb20 mtn"> Recently Asked Questions </h5>
                        <div class="panel-group accordion accordion-lg" id="accordion2">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion2" href="#accord2_1">
                                        Will you be providing continuous support and adding new features?
                                        <span class="label hidden label-muted label-sm ph15 mt15 mr5 pull-right">189</span>
                                    </a>
                                </div>
                                <div id="accord2_1" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion2" href="#accord2_2">
                                        How did you organize the LESS Structure in this Theme? </a>
                                </div>
                                <div id="accord2_2" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion2" href="#accord2_3">
                                        How do I create a media object with a responsive image? </a>
                                </div>
                                <div id="accord2_3" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">

            <div class="mb15">
                <button type="button" class="btn btn-primary btn-block pv10 fw600 mb10">Open Ticket</button>
                <button type="button" class="btn btn-info btn-block pv10 fw600">Contact Us</button>
            </div>

            <div class="row mb15 hidden">
                <div class="col-md-6 pr5">
                    <button type="button" class="btn btn-primary btn-block pv10 fw600">Contact Us</button>
                </div>
                <div class="col-md-6 pl5">
                    <button type="button" class="btn btn-info btn-block pv10 fw600">Open Ticket</button>
                </div>
            </div>

            <div class="panel mb10">
                <div class="panel-heading">
                    <span class="panel-icon"><i class="fa fa-life-ring"></i>
                    </span>
                    <span class="panel-title"> Your Latest Tickets</span>
                </div>
                <div class="panel-body text-muted p10">
                    <ul class="list-unstyled">
                        <li>Product: <strong class="text-dark"> Sansa Micro</strong>
                        </li>
                        <li>Posted: 1 week ago</li>
                        <li>Status: <strong class="text-primary">Open</strong>
                        </li>
                    </ul>
                    <ul class="list-unstyled br-t pt10">
                        <li>Product: <strong class="text-dark"> Quick Keyboard</strong>
                        </li>
                        <li>Posted: 1 week ago</li>
                        <li>Status: <strong class="text-primary">Open</strong>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer text-muted p10">
                    <ul class="list-unstyled">
                        <li>Product: <strong class="text-dark"> Wireless Headset</strong>
                        </li>
                        <li>Posted: 1 week ago</li>
                        <li>Status: <strong class="text-alert">Closed</strong>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel mb10">
                <div class="panel-heading">
                    <span class="panel-icon"><i class="fa fa-life-ring"></i>
                    </span>
                    <span class="panel-title"> Resources</span>
                </div>

                <div class="list-group fs14 fw600">
                    <a class="list-group-item" href="#"><i class="fa fa-envelope-o fa-fw text-primary"></i>&nbsp; Email us</a>
                    <a class="list-group-item" href="#"><i class="fa fa-phone fa-fw text-primary"></i>&nbsp; Request a call</a>
                    <a class="list-group-item" href="#"><i class="fa fa-comments-o fa-fw text-primary"></i>&nbsp; Ask the community</a>
                </div>

                <div class="panel-footer text-muted p10 hidden">
                    <ul class="list-unstyled">
                        <li>Product: <strong class="text-dark"> Wireless Headset</strong>
                        </li>
                        <li>Posted: 1 week ago</li>
                        <li>Status: <strong class="text-alert">Closed</strong>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="hidden">
                <button type="button" class="btn btn-primary btn-block pv10 fw600 mb10">Open Ticket</button>
                <button type="button" class="btn btn-info btn-block pv10 fw600 mb10">Contact Us</button>
            </div>

        </div>
    </div>

</section>
<!-- End: Content -->